{% extends 'base.html.twig' %}

{% block title %}Room index{% endblock %}

{% block body %}
    <h4 style="margin: 5px;">Room index</h4>
    <input type="text" id="search" class="form-control" placeholder="Search">

    <table class="table table-bordered table-hover table-striped mb-4" id="t">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nb_personnes</th>
                <th>Descriptions</th>
                <th>Type</th>
                <th>Prix</th>
                <th>Hotel</th>
                <th>Options</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody  id="all">
        {% for room in rooms %}
            <tr>
                <td>{{ room.id }}</td>
                <td>{{ room.nbPersonnes }}</td>
                <td>{{ room.description }}</td>
                <td>{{ room.type }}</td>
                <td>{{ room.prix }}</td>
                <td>{{ room.idHotel }}</td>

                <td>{% for option in options %}
                        {% if room.id2==option.room_id %}
                            {{ option.description}}
                            <br>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('room_show', {'id': room.id}) }}">show</a>
                    <a href="{{ path('room_edit', {'id': room.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        <tbody id="search">
        </tbody>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script>
        $( document ).ready(function() {
            $("#search").keyup(function(e){
                /* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */
                var value = $(this).val();
                /* Ajax est lancé lors du remplissage du champ texte dont l’id est « search » pour faire la recherche */
                $.ajax({
                    /* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                    url : "{{ path('searchRoomx') }}",
                    /* La méthode utilisée pour transférer les données est GET */
                    type : 'GET',
                    /*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */
                    data: {
                        'searchValue' : value
                    },
                    /*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                    success : function(retour){
                        if(retour){
                            $('#t tbody#search').empty();
                            $.each(JSON.parse(retour), function(i, obj) {
                                $('#t tbody#all').hide();
                                $('#t tbody#search').append('<tr><td>'+obj.id+'</td><td>'+obj.nb_personnes+'</td><td>'+obj.description+'</td><td>'+obj.type+'</td><td>'+obj.prix+'</td><td>'+obj.id2+'</td><td>'+obj.options.description+'</td><td><a href="'+obj.id+'">show</a><br><a href="'+obj.id+'/edit">edit</a></tr>');
                            });
                        }
                        else
                        {
                            $('#t tbody#all').show();
                            $('#t tbody#search').empty();
                            $('#t tbody#search').fadeIn('fast');
                        }
                    },
                });
                return false;
            });
        });
    </script>
    <a class="btn-outline-primary" href="{{ path('room_new') }}">Create new</a>
{% endblock %}
