{% extends 'base.html.twig' %}

{% block title %}Options index{% endblock %}

{% block body %}
<h4 style="margin: 5px;">Options index</h4>

    <table class="table table-bordered table-hover table-striped mb-4">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>

                <th>room_id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for option in options %}
            <tr>
                <td>{{ option.id }}</td>
                <td>{{ option.description }}</td>
                <td>{{ option.room_id }}</td>

                <td>
                    <a href="{{ path('options_show', {'id': option.id}) }}">show</a>
                    <a href="{{ path('options_edit', {'id': option.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn-outline-primary" href="{{ path('options_new') }}">ADD NEW</a>
{% endblock %}
