{% extends 'base.html.twig' %}

{% block title %}ReservationHotel index{% endblock %}

{% block body %}
    <h1>ReservationHotel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id room</th>
                <th>Email user</th>
                <th>Debut</th>

                <th>Fin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation_hotel in reservation_hotels %}
            <tr>
                <td>{{ reservation_hotel.id }}</td>
                <td>{{ reservation_hotel.roomId}}</td>
                <td>{{ reservation_hotel.userId }}</td>
                <td>{{ reservation_hotel.debut ? reservation_hotel.debut|date('Y-m-d') : '' }}</td>
                <td>{{ reservation_hotel.fin ? reservation_hotel.fin|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('reservation_hotel_show', {'id': reservation_hotel.id}) }}">show</a>
                    <a href="{{ path('reservation_hotel_edit', {'id': reservation_hotel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservation_hotel_new') }}">Create new</a>
{% endblock %}
